{% extends "base.html" %}
{% block content %}
<div class="ms-5 my-4">
<p class="flirt_head">
    Flirt with hot recipes near your area!
</p class="flirt_text">
<h4>Your match today: <em>{{ dish['name'] }}</em></h4>
<video controls>
    <source src="{{ dish['video_url'] }}">
</video>
<form action="{{ url_for('post_flirt') }}" method="post">
    <input type="hidden" id="action" name="action" value="save">
    <input type="hidden" id="dish" name="dish" value="{{ dish }}">
    <input class="btn btn-outline-success" type="submit" value="Save">
</form>
<form action="{{ url_for('post_flirt') }}" method="post">
    <input type="hidden" id="action" name="action" value="skip">
    <input type="hidden" id="dish" name="dish" value="{{ dish }}">
    <input class="btn btn-outline-primary" type="submit" value="Skip">
</form>
<form action="{{ url_for('post_flirt') }}" method="post">
    <input type="hidden" id="action" name="action" value="quit">
    <input type="hidden" id="dish" name="dish" value="{{ dish }}">
    <input class="btn btn-outline-danger" type="submit" value="Quit">
</form>
</div>
{% endblock content %}