{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Please sign up</h1>
    <br>
    <form action="{{ url_for('signup') }}" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
        request.form.username }}" required>
        <input type="password" placeholder="Password" name="password" value="{{
        request.form.password }}" required>
        <input type="password" placeholder="Confirm password" name="password_confirm" value="{{
        request.form.password_confirm }}" required>
    <input class="btn btn-default" type="submit" value="Sign up">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</div>
{% endblock content %}